body {
  text-align: center;
  background-color: #5f97db;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 2%;
  color: #fef2bf;
}

button {
  font-size: 2rem;
  border-radius: 10%;
  border: 2px solid white;
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

button:hover {
  color: #5f97db;
  background-color: white;
}

.container {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.btn {
  margin: 15px 30px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
